<!-- resources/mapper/UserMapper.xml -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project_mung.mapper.OrderMapper">


    <!-- 주문목록 조회 -->
    <select id="getOrderItems" resultType="com.project_mung.domain.Cart">
        SELECT * FROM cart WHERE cartid IN
        <foreach collection="cartids" item="cartid" open="(" separator="," close=")">
            #{cartid}
        </foreach>
    </select>

    <!--배송지 조회-->
    <select id="getDelivery">
        SELECT * FROM delivery WHERE userid = #{userid}
    </select>

    <!--배송지 저장-->
    <insert id="insertDelivery">
        INSERT INTO delivery (userid
                         ,deliveryname
                         ,customername
                         ,deliveryaddress
                         ,deliverypostcode
                         ,deliverydetailaddr
                         ,customerphone)
        VALUES (#{userid}
               ,#{deliveryname}
               ,#{customername}
               ,#{deliveryaddress}
               ,#{deliverypostcode}
               ,#{deliverydetailaddr}
               ,#{customerphone})
    </insert>

    <!--배송지 수정-->
    <update id="modifyDelivery">
        UPDATE delivery SET deliveryname=#{deliveryname}
                          ,customername=#{customername}
                          ,deliveryaddress=#{deliveryaddress}
                          ,deliverypostcode=#{deliverypostcode}
                          ,deliverydetailaddr=#{deliverydetailaddr}
                          ,customerphone=#{customerphone}
        WHERE userid = #{userid}
    </update>

    <!--배송지삭제-->
    <delete id="deleteDelivery">
        DELETE FROM delivery WHERE deliveryid = #{deliveryid}
    </delete>

    <!--주문정보 저장-->
    <insert id="saveOrder" useGeneratedKeys="true" keyProperty="orderid">
        INSERT INTO `order` (userid,
                          paymentmethod,
                          deliveryid,
                          orderdate)
        VALUES (#{userid}
                ,#{paymentmethod}
                ,#{deliveryid}
                ,NOW()
               )
    </insert>


    <update id="updateCart" parameterType="java.util.List">
        UPDATE cart SET orderdate = NOW() WHERE cartid IN
        <foreach collection="list" item="cartid" open="(" separator="," close=")">
            #{cartid}
        </foreach>
    </update>
    <!--
    <update id="updateCart" parameterType="java.util.List">
        <foreach collection="list" item="cartid" separator=";">
            UPDATE cart SET orderdate = NOW() WHERE cartid = #{cartid}
        </foreach>
    </update>
-->

</mapper>