<!-- resources/mapper/UserMapper.xml -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project_mung.mapper.UserMapper">

    <insert id="insertUser">
        INSERT INTO user (userid
                          ,userpass
                          ,username
                          ,userphone
                          ,userpostcode
                          ,useraddress
                          ,userdetailaddress
                          ,useremail)
                VALUES (#{userid}
                       ,#{userpass}
                       ,#{username}
                       ,#{userphone}
                       ,#{userpostcode}
                       ,#{useraddress}
                       ,#{userdetailaddress}
                       ,#{useremail})
    </insert>

    <select id="getLoginInfo" resultType="com.project_mung.domain.User">
        SELECT * FROM user
        WHERE userid = #{userid}
    </select>

    <select id="findByUserEmail" resultType="com.project_mung.domain.User">
        SELECT *
        FROM user
        WHERE useremail = #{useremail}
    </select>


    <insert id="insertUserRole" parameterType="com.project_mung.domain.UserRole">
        INSERT INTO userrole (userid, role)
        VALUES (#{userid}, #{role});
    </insert>


</mapper>