body {
    background: #f1eee9;
    margin: 0; /* body의 기본 마진을 제거하여 전체 화면을 채우도록 설정 (선택적) */
    padding: 0; /* body의 기본 패딩을 제거하여 전체 화면을 채우도록 설정 (선택적) */
    font-family: "Noto Sans KR ExtraLight";
    color: #4b4a4a;
}

.main-logo {
    margin-top: 50px;
    align-items: center;

}

a {
    text-decoration: none;
    color: inherit;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* 화면 크기가 작아질 때 줄 바꿈이 일어나도록 설정 */
    margin-top: 30px;
    margin-bottom: 30px;
}

.search-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    box-sizing: border-box;
}

.search-button {
    padding: 10px;
    background-color: #e3ccc3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-icon {
    width: 18px;
    height: 18px;
}

.checkbox-group input {
    display: none; /* 실제 체크박스를 숨김 */
}
.checkbox-group-container {
    display: flex;
    margin: 20px 20px 20px 20px;
    border: 1px solid #ccc; /* 외곽선 추가 */
    border-radius: 10px; /* 동그라미 모양을 위해 조절 */
    padding: 0px 20px 20px 20px;
    background-color: white;
    text-align: center; /* 아이템들을 가운데 정렬하기 위한 스타일 추가 */
    justify-content: center
}

.checkbox-group {
    padding: 20px;

}

.checkbox-label {
    font-size: 14px;
    padding: 4px 8px; /* 체크박스 스타일을 위한 여백 추가 */
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    margin-bottom: 10px; /* 라벨 간 여백을 늘림 */
    display: inline-block; /* 인라인 요소로 설정 */
}


/* 체크박스 체크 상태일 때의 스타일 */
.checkbox-group input:checked + .checkbox-label {
    background-color: #e3ccc3; /* 체크되었을 때의 배경색 */
}

p {
    font-family: "Noto Sans KR SemiBold";
}

.result-container {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
    background-color: white;
    text-align: center; /* 아이템들을 가운데 정렬하기 위한 스타일 추가 */
    padding: 20px;
}

.result-container th {
    width: 150px;
    font-size: 17px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd; /* 헤더 아래에 선 추가 */
}

.result-container td {
    text-align: center;
    font-size: 14px;
    padding: 10px;
}

.result-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.result-item h3 {
    margin-top: 0;
}

/* Footer 스타일 */
footer {
    text-align: center;
    bottom: 0;
    width: 90%;
    margin: auto;
    z-index: 0; /* Footer가 하위로 내려가도록 z-index 추가 */
    margin-top: 30px;
    margin-bottom: 20px;

}

/* 페이징 스타일 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    z-index: 1; /* 페이지 버튼이 상위로 올라오도록 z-index 추가 */
}

.pagination a {
    color: #4b4a4a;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}


.pagination a.active {
    background-color: #e3ccc3;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}


/* 서치페이지 장바구니 로고*/
.cart-container-search {
    margin-right: 50px;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    background-color: #e3ccc3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d0b7ad;
}


/* 장바구니 페이지 스타일링 추가 */

/* 장바구니 페이지 제목 스타일링 */
.title-container h2 {
    color: #4b4a4a;
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 50px;
}

/* 장바구니 테이블 스타일링 */
.cart-table {
    width: calc(100% - 40px); /* 전체 너비에서 좌우 여백(20px * 2)을 뺍니다. */
    border-collapse: collapse;
    background-color: white;
    border-radius: 20px; /* 동그라미 테두리를 추가합니다. */
    overflow: hidden; /* 테두리를 벗어난 부분을 숨깁니다. */
    margin: 20px; /* 상하 여백을 조절합니다. */
}

.cart-table th, .cart-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.cart-table th {
    background-color: #e3ccc3;
    color: #4b4a4a;
    font-size: 18px;
}

/* 장바구니 수량 입력 필드 스타일링 */
.quantity-input {
    width: 60px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.total-container {
    margin-top: 20px; /* 위 여백을 조절합니다. */
}

/* 장바구니 총 금액 스타일링 */
.total-container .total-price {
    font-size: 24px;
    color: #4b4a4a;
    margin-bottom: 20px; /* 아래 여백을 조절합니다. */
    margin-right: 20px;
    text-align: right;
}

/* 장바구니 주문 버튼 스타일링 */
.order-button {
    background-color: #e3ccc3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 20px;
    font-size: 18px;
    right: 20px;
}

.cart-container .order-button:hover {
    background-color: #d0b7ad;
}

/* 장바구니 삭제 버튼 스타일링 */
.cart-container .remove-button {
    padding: 8px 16px;
    background-color: #e3ccc3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-container .remove-button:hover {
    background-color: #d0b7ad;
}

/* 선택 삭제 버튼 */
.remove-all-button {
    margin-left: 20px;
    background-color: transparent;
    border: none;
    color: #5C4C4C;
    cursor: pointer;
    font-size: 18px; /* 버튼의 글자 크기 조절 */
}

.remove-all-button:hover {
    background-color: transparent; /* 커서를 올렸을 때 배경 색 제거 */
}


/* 주문 페이지 */
.items-container, .addr-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto; /* 가운데 정렬을 위해 사용 */
    background-color: white;
    text-align: center; /* 아이템들을 가운데 정렬하기 위한 스타일 추가 */
    padding: 20px;
}

.items-container th {
    width: 150px;
    font-size: 17px;
    padding-bottom: 10px;
    border-bottom: 1.5px solid #ddd; /* 헤더 아래에 선 추가 */
}

.items-container td {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    margin: 0; /* td의 여백을 제거 */
}

.h2-container h2 {
    width: 70%;
    margin: auto; /* 가운데 정렬을 위해 사용 */
    margin-bottom: 30px;
    margin-top: 50px;
    font-size: 28px;
}

.addr-container button {
    float: right; /* 오른쪽으로 띄우기 */
}

.addr-container select, .addr-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    box-sizing: border-box;
}

.total-price-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto; /* 가운데 정렬을 위해 사용 */
    background-color: white;
    text-align: center; /* 아이템들을 가운데 정렬하기 위한 스타일 추가 */
    padding: 20px;
}

.total-price-container td {
    border-top: 2px solid #ddd;
    padding-top: 20px;
}

.method-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto; /* 가운데 정렬을 위해 사용 */
    background-color: white;
    text-align: center; /* 아이템들을 가운데 정렬하기 위한 스타일 추가 */
    padding: 20px;
    margin-bottom: 30px;
}

.pay-container button {
    padding: 20px 40px; /* 버튼의 상하 및 좌우 여백 조절 */
    font-size: 24px; /* 버튼의 글자 크기 조절 */
    background-color: #e3ccc3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0 30px 0;
}

.pay-container button:hover {
    background-color: #d0b7ad;
}





